<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hashimukh|Home </title>
    <!-- Stylesheets -->
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/slick.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <!--Color Switcher Mockup-->
    <link href="{% static 'css/color-switcher-design.css' %}" rel="stylesheet">
    <!--Color Themes-->
    <link id="theme-color-file" href="{% static 'css/color-themes/default-theme.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <style>

        /*************** home page slide ***************/
        .homepage-slide {
            width: 100%;
            min-height: 390px;
        }

        .homepage-slide-container {
            overflow: hidden;
            width: 100%;
            min-height: 390px;
            position: relative;
        }


        .homepage-slide-container::after {
            content: "";
            width: 50px;
            height: 50px;
            border-left: 80px solid transparent;
            border-right: 80px solid transparent;
            border-top: 50px solid #fff;
            position: absolute;
            z-index: 200;
            left: 50%;
            top: 0;
            transform: translate(-50%, 0%);
        }


        .homepage-slide-content {
            width: 25%;
            float: left;
            min-height: 390px;
            overflow: hidden;
            position: relative;
        }


        .background-slide-image {
            width: 100%;
            height: 390px;
            position: absolute;
            z-index: 10;
            filter: grayscale(100%);
        }


        .homepage-slide-content:hover .home-slide-overly {
            background-color: rgba(0, 0, 0, 0.2);
        }

        .homepage-slide-content:hover .background-slide-image {
            filter: grayscale(0%);
        }


        .home-slide-overly {
            width: 100%;
            height: 390px;
            position: absolute;
            z-index: 20;
            background-color: rgba(0, 0, 0, 0.7);
            transition: all 0.5s ease 0s;
        }


        .home-slide-overly img {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
            bottom: 20%;
        }


        .home-slide-overly h4 {
            position: absolute;
            bottom: 55%;
            text-align: center;
            display: block;
            width: 100%;
            font-size: 22px;
            color: white;
        }

        .slider-home-image:hover .home-slide-overly {
            left: 0;
            width: 100%;
            transition: all 0.5s ease 0s;
        }

        .custom-link:hover {
            background-color: #0A81EC !important;
        }
    </style>

    <!--[if lt IE 9]>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>#}
    <![endif]-->
    <!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->
</head>

<body class="hidden-bar-wrapper">

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Main Header / Header Style Two -->
    <header class="main-header header-style-two">

        <!-- Header Top Two -->
        <div class="header-top-two">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Top Left-->
                    <div class="top-left col-lg-7 col-md-12 col-sm-12">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li><h4>Spread the Smile</h4></li>
                        </ul>
                    </div>

                    <!--Top Right-->
                    <div class="top-right col-lg-5 col-md-12 col-sm-12">
                        <!--Social Box-->
                        <ul class="social-box">
                            <li><a href="https://www.facebook.com/hsksbd" target="_blank"><span
                                    class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                            <li><a href="#"><span class="fab fa-skype"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <!--Header-Upper-->
        <div class="header-upper">
            <div class="auto-container">
                <div class="clearfix">

                    <div class="pull-left logo-box">
                        <div class="logo"><a href="{% url 'index' %}">
                            <img src="{% static 'images/logo-main.png' %}" alt="" title=""
                                 style="height: 100px; width: 150px"></a>
                        </div>
                    </div>

                    <div class="pull-left logo-box">
                        <div class="logo">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'images/logo-11.png' %}" alt="" title="">
                            </a>
                        </div>
                    </div>

                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="current"><a href="{% url 'index' %}">Home</a></li>
                                    <li class="dropdown">
                                        <a href="{% url 'index' %}">Where We Focus</a>
                                        <ul>
                                            {% for focus in all_focus_list %}
                                                <li>
                                                    <div class="card">
                                                        <a href="{% url 'focus' focus.focus_id %}">
                                                            {{ focus.focus_title }}
                                                        </a>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="{% url 'index' %}">Events</a>
                                        <ul>
                                            {% for event_level_one in events_level_one_list %}
                                                <li>
                                                    <div class="card">
                                                        <div class="text">
                                                            <a href="#">
                                                                {{ event_level_one.event_title }}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'joinus' %}" target="_blank">Join us</a></li>
                                    <li><a href="{% url 'donate' %}" class="theme-btn donate-btn">Donate Now</a></li>
                                    <li><a href="{% url 'contact' %}">Contact us</a></li>
                                </ul>
                            </div>
                        </nav>

                        <!-- Main Menu End-->
                        <div class="outer-box clearfix">
                            <div class="btn-box">
                                <!--Search Btn-->
                                <div href="#modal-popup-2" class="navsearch-button xs-modal-popup">
                                    <i class="icon flaticon-magnifying-glass-1"></i>
                                </div>
                                <!-- Main Menu End-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->

        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="pull-left logo-box">
                    <div class="logo">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'images/logo-main.png' %}" alt="" title=""
                                 style="height: 100px; width: 150px">
                        </a>
                    </div>
                </div>
                <div class="logo pull-left">
                    <a href="{% url 'index' %}l" class="img-responsive">
                        <img src="{% static 'images/logo-12.png' %}" alt="" title="">
                    </a>
                </div>

                <!--Right Col-->
                <div class="right-col pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent1">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="{% url 'index' %}">Home</a></li>
                                <li class="dropdown">
                                    <a href="{% url 'index' %}">Where We Focus</a>
                                    <ul>
                                        {% for focus in all_focus_list %}
                                            <li>
                                                <div class="card">
                                                    <div class="text">
                                                        <a href="#">
                                                            {{ focus.focus_title }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="{% url 'index' %}">Events</a>
                                    <ul>
                                        {% for event_level_one in events_level_one_list %}
                                            <li>
                                                <div class="card">
                                                    <div class="text">
                                                        <a href="#">
                                                            {{ event_level_one.event_title }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li><a href="{% url 'joinus' %}" target="_blank">Join us</a></li>
                                <li><a href="{% url 'donate' %}" class="theme-btn donate-btn">Donate Now</a></li>
                                <li><a href="{% url 'contact' %}">Contact us</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>

            </div>
        </div>
        <!--End Sticky Header-->

    </header>
    <!--End Main Header -->

    <!--Main Slider-->
    <section class="main-slider-two">
        <div class="main-slider-carousel owl-carousel owl-theme">
            <div class="slide"
                 style="background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url({% static 'images/main-slider/image-5.jpg' %})">
                <div class="auto-container">
                    <div class="content text-center">
                        <div class="link-box">
                            <div class="text-center clearfix">
                                <a href="{% url 'donate' %}" class="theme-btn btn-style-five">Donate Now</a>
                                <a href="{% url 'contact' %}" class="theme-btn btn-style-six"><span class="txt">learn
											more</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Scroll Dwwn Btn-->
        <div class="mouse-btn-down scroll-to-target" data-target=".welcome-section"></div>
    </section>
    <!--End Main Slider-->

    <section class="welcome-section">
        <div class="auto-container">
            <div class="row clearfix">

                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h1>Welcome To <span class="theme_color"><b>Hashimukh</b></span></h1>

                        <div class="text" align="center">
                            <p align="justify">
                                <b>Hashimukh Shomaj Kallayan Shongstha</b> is a non-profit social welfare organization
                                working solely for the betterment of underprivileged children towards a quality life. It
                                is supported constantly by its advisory board and executive committee with guidelines,
                                finances, encouragements, and ideas which drive the organization to better performance
                                each day.
                            </p>
                        </div>
                        <a align="center" href="{% url 'joinus' %}" target="_blank" class="theme-btn btn-style-three">
                            Join Us Now
                        </a>
                    </div>
                </div>

                <!-- Video Column -->
                <div class="video-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">

                        <!--Video Box-->
                        <div class="video-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <iframe width="100%" height="400" src="https://www.youtube.com/embed/SrY6yNYE-XQ"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section class="services-section-two">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <h2><span class="theme_color">Mission</span></h2>
                <div class="text">
                    <h3><q><i>Bring positive and sustainable change by giving transformative education to the less
                        privileged young members of society, who have the potential to change the world for the better
                        if given the right, skill set, opportunity, and platform</i></q></h3>
                </div>
            </div>
            <div class="sec-title centered">
                <h2><span class="theme_color">Vision</span></h2>
                <div class="text">
                    <h3><q><i>Focus on the innovative educational system to transform disadvantaged young members of
                        society into committed professionals with an adequate moral sense. </i></q></h3>
                </div>
            </div>

            <div class="sec-title centered">
                <h2><span class="theme_color">Objectives</span></h2>
            </div>

            <div class="row clearfix">

                <!-- Service Block Two -->
                <div class="service-block-two col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-book"></span>
                        </div>
                        <h5>Ensure basic education for the young members of the society</h5>
                    </div>
                </div>


                <!-- Service Block Two -->
                <div class="service-block-two col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-award"></span>
                        </div>
                        <h5>Ensure capacity or skill development</h5>
                    </div>
                </div>

                <!-- Service Block Two -->
                <div class="service-block-two col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-chat-comment-oval-speech-bubble-with-text-lines"></span>
                        </div>
                        <h5>Support in an emergency crisis situation in our country</h5>
                    </div>
                </div>

                <!-- Service Block Two -->
                <div class="service-block-two col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-donation-2"></span>
                        </div>
                        <h5>Motivate the youth of our country to actively participate in volunteering work to give back
                            to the community</h5>
                    </div>
                </div>


                <!-- Service Block Two -->
                <div class="service-block-two col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-world"></span>
                        </div>
                        <h5>Make young members of society well aware of our history, culture, and customs and make them
                            compassionate</h5>
                    </div>
                </div>

                <!-- Service Block Two -->
                <div class="service-block-two col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-house-1"></span>
                        </div>
                        <h5>Build confidence among the slum families and help them to dream for a better life</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Gallery Section -->
    <section class="homepage-slide-section">
        <div class="sec-title centered">
            <h2><span class="theme_color">Where We Focus</span></h2>
        </div>
        <div class="homepage-slide-container">
            {% for focus in all_focus_list %}
                <!--start -->
                <div class="homepage-slide-content">
                    <img class="background-slide-image" src="{{ focus.focus_image.url }}"
                         alt="Slide Image 1">
                    <a href="{% url 'focus' focus.focus_id %}" target="_blank" class="slider-home-image">
                        <div class="home-slide-overly">
                            <h4>{{ focus.focus_title }}</h4>
                            <br>
                            <img src="{{ focus.focus_icon.url }}"
                                 style="height: 100px;width: 100px;bottom: 18.5%"></img>
                        </div>
                    </a>
                </div>
                <!--end -->
            {% endfor %}


        </div>
    </section>
    <!-- End Gallery Section -->

    <!-- Gallery Section -->
    <section class="gallery-section">
        <div class="auto-container">

            <div class="mixitup-gallery">
                <div class="filter-list row clearfix">
                    <img src="{% static 'images/resource/ImpactGraph.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End Gallery Section -->


    <!-- News Section -->
    <section class="news-section-two" style="background-image: url({% static 'images/background/7.jpg' %})">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title light">
                <h2><span class="theme_color">Latest </span> News</h2>
            </div>
            <div class="news-carousel owl-carousel owl-theme">

                {% for news in all_news_list %}

                    <!-- News Block Three -->
                    <div class="news-block-three">

                        <div class="inner-box">

                            <div class="image">
                                <a href="{% url 'news' news.news_id %}">
                                    <img src="{{ news.news_image.url }}" alt=""/>
                                </a>
                                <div class="read-more"><a href="{% url 'news' news.news_id %}" class="more">Read
                                    More</a>
                                </div>
                            </div>

                            <div class="lower-content">
                                <div class="content">
                                    <div class="date-outer">
                                        <div class="date">{{ news.news_publish_date|date:'d' }}</div>
                                        <div class="month">{{ news.news_publish_date|date:'d/m/y' }}</div>
                                    </div>
                                    <h3><a href="{% url 'news' news.news_id %}">{{ news.news_title }}</a></h3>
                                </div>
                            </div>

                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </section>
    <!-- End News Section -->

    <!-- Call To Action Section Three -->
    <section class="call-to-action-section-three" style="background-image: url({% static 'images/background/6.jpg' %})">
        <div class="auto-container">
            <div class="title">Want to join with us</div>
            <h2>BECOME A PROUD VOLUNTEER</h2>
            <div class="text">When you bring together those who have, with those who have not - miracles happen.
                <br> Become a time hero by volunteering with us. Meet new friends, gain new skills, get <br>
                happiness and have fun!
            </div>
            <a href="{% url 'joinus' %}" target="_blank" class="theme-btn btn-style-five">Join With
                Us</a>
        </div>
    </section>
    <!-- Call To Action Section Three -->

    <!-- Team Section -->
    <section class="team-section">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <h2><span class="theme_color">What Our Donors</span> Say</h2>
            </div>

            <div>

            </div>
            <div class="card-deck">

                <!-- Team Block -->
                <div class="card">
                    <div class="">
                        <iframe width="100%" height="400" src="https://www.youtube.com/embed/NRdvE5EqHB4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <!-- Content Column -->
                    <div class="">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-6">
                                <h5><a href="#">Mohammad Awal</a></h5>
                                <div class="location">Owner/MD of SEL</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Team Block -->
                <div class="card">
                    <!-- Image Column -->
                    <div class="">
                        <iframe width="100%" height="400" src="https://www.youtube.com/embed/G4b5TSnw2wU"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <!-- Content Column -->
                    <div class="">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-6">
                                <h5><a href="#">Nasreen Ahmed</a></h5>
                                <div class="location">Former Pro VC of DU</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Team Section -->

    <!-- Gallery Section -->
    <section class="gallery-section">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <h2><span class="theme_color">Hashimukh’s Contribution to Sustainable Development Goals</span></h2>
            </div>

            <!--MixitUp Galery-->
            <div class="mixitup-gallery">

                <div class="filter-list row clearfix">
                    <!-- Gallery Block -->
                    <div class="gallery-block mix water charity col-lg-3 col-md-3 col-sm-6">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{% static 'images/sdg/3.jpeg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <!-- Gallery Block -->
                    <div class="gallery-block mix water charity col-lg-3 col-md-3 col-sm-6">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{% static 'images/sdg/4.png' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <!-- Gallery Block -->
                    <div class="gallery-block mix water charity col-lg-3 col-md-3 col-sm-6">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{% static 'images/sdg/5.png' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <!-- Gallery Block -->
                    <div class="gallery-block mix water charity col-lg-3 col-md-3 col-sm-6">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{% static 'images/sdg/6.png' %}" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="load-more-btn text-center">
                <a href="#" class="theme-btn btn-style-five">load more</a>
            </div>

        </div>
    </section>
    <!-- End Gallery Section -->

    <!-- Contact Section -->
    <section class="contact-section" style="background-image: url({% static 'images/background/map-pattern-1.png' %})">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <h2><span class="theme_color">Please Leave Us a </span> Message</h2>
                <div class="text">Thank you very much for your interest in our company and our services</div>
            </div>

            <!-- Default Form -->
            <div class="default-form">
                <form method="post" action="https://expert-themes.com/html/Hashimukh/contact.html">

                    <div class="row clearfix">

                        <!-- Column -->
                        <div class="column col-lg-6 col-md-12 col-sm-12">

                            <!-- Form Group -->
                            <div class="form-group">
                                <input type="text" name="name" value="" placeholder="Username" required>
                            </div>
                            <!-- Form Group -->
                            <div class="form-group">
                                <input type="email" name="email" value="" placeholder="Email Address" required>
                            </div>
                            <!-- Form Group -->
                            <div class="form-group">
                                <input type="text" name="phone" value="" placeholder="Phone" required>
                            </div>

                        </div>

                        <!-- Column -->
                        <div class="column col-lg-6 col-md-12 col-sm-12">
                            <!-- Form Group -->
                            <div class="form-group">
                                <textarea name="message" placeholder="Message"></textarea>
                            </div>

                        </div>

                    </div>

                    <div class="form-group text-center col-lg-12 col-md-12 col-sm-12">
                        <button type="submit" class="theme-btn btn-style-three"><span class="txt">SEND
									NOW</span></button>
                    </div>

                </form>
            </div>
            <!--End Default Form-->

        </div>
    </section>
    <!-- End Contact Section -->

    <!--Main Footer-->
    <footer class="main-footer style-two" style="background-image:url({% static 'images/background/8.jpg' %})">
        <div class="auto-container">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row clearfix">

                    <!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">

                            <!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
                                    <div class="logo">
                                        <a href="{% url 'index' %}"><img src="{% static 'images/logo-11.png' %}"
                                                                         alt=""/></a>
                                    </div>
                                    <div class="text">
                                        Core values are the fundamental beliefs of a person or
                                        organization. The core values are the guidance that dictate
                                        behavior and action.
                                    </div>
                                    <!--Social Box-->
                                    <ul class="social-box">
                                        <li><a href="https://www.facebook.com/hsksbd" target="_blank"><span
                                                class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                        <li><a href="#"><span class="fab fa-skype"></span></a></li>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">


                            <!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                    <h2>Quick Links</h2>
                                    <ul class="footer-list">
                                        <li><a href="{% url 'donate' %}">Donate Now</a></li>
                                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-10">
                                <div class="footer-widget links-widget">
                                    <h2>Contact Us</h2>
                                    <ul>
                                        <li>Address: <br>
                                            <a href="https://goo.gl/maps/sd4HirTqQpvwhwDA9">
                                                Meherunnesa Girls School and college
                                                <br>54/1, North Circular Road, Aklimabag
                                                <br>Dhanmondi, Dhaka- 1205
                                            </a>
                                        </li>
                                        <li style="text-transform: none">Email: <br><a
                                                href="mailto:hashimukh.socialwelfare.bd@gmail.com">hashimukh.socialwelfare.bd@gmail.com</a>
                                        </li>
                                        <li>
                                            Phone:
                                            <br><a href="tel: +8801794146555">+8801794146555</a>, <a
                                                href="tel: +8801685794498">+8801685794498</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom-two">
            <div class="auto-container">
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="copyright">Copyrights © 2019 <a href="{% url 'index' %}">Hashimukh.</a> All rights
                            reserved.
                        </div>
                    </div>
                    <div class="pull-right">
                        <ul class="footer-nav">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>

</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<!-- xs modal -->
<div class="zoom-anim-dialog mfp-hide modal-searchPanel" id="modal-popup-2">
    <div class="xs-search-panel">
        <form action="#" method="POST" class="xs-search-group">
            <input type="search" class="form-control" name="search" id="search" placeholder="Search">
            <button type="submit" class="search-button"><i class="icon icon-search"></i></button>
        </form>
    </div>
</div><!-- End xs modal -->
<!-- end language switcher strart -->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/mixitup.js' %}"></script>
<script src="{% static 'js/slick.js' %}"></script>
<script src="{% static 'js/nav-tool.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/color-settings.js' %}"></script>

</body>

</html>